@media (min-width: 1024px) {

    body {
    background: linear-gradient(to right, #0e0e0e 5%, #111113 40%, #1a1a1f 100%);
min-height: 100vh;
padding-top: 80px;
background-attachment: fixed;
}

h1 {
    font-family: 'Saira', sans-serif;
    color: #f1f1f1;
    text-align: left ;
    padding-left: 150px;
    font-size: 50px;
    text-shadow: 0 0 8px rgba(200, 200, 200, 0.45),
    0 0 14px rgba(240, 240, 240, 0.18);
}

h2 {
    font-family: 'Saira', sans-serif;
    font-size: 50px;
    color:#f1f1f1;
    text-shadow: 0 0 8px rgba(200, 200, 200, 0.45),
    0 0 14px rgba(240, 240, 240, 0.18);
}

.skill-card h4 {
    font-family: 'Saira', sans-serif;
    font-size: 28px;
    color: white;
}

.paragrafo-left {
    text-align: left;
    padding-left: 150px;
    color:rgba(255, 255, 255, 0.8);
    font-size: 20px;

}

#habilidades {
    padding: 40px 0;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background-image: linear-gradient(135deg, #0f0f0f, #2a2a2a, #3d3d3d, #1a1a1a);    
    padding: 20px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    transition: transform .2s;
    border: 1px solid #333;
}

.skill-card p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    font-weight: bold;
}
 
.skill-card:hover {
    transform: scale(1.05);
}

.skill-card i {
    font-size: 50px;
    margin-bottom: 10px;
}

.botao-contato {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, #2563eb, #3b82f6);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 16px #3b82f680;
    transition: 0.3s ease-in-out;
}

.botao-contato:hover {
    transform: translateY(-3px) scale(1.05);
}

.botao {
    text-align: left;
    padding-left: 150px;
    margin-top: 30px;
}

.foto-perfil {
    position: absolute;
    top: 70px;
    right: 20px;
}
.foto-perfil img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3a3a3a;
    box-shadow: 0 0 12px #3a3a3a55;
}

.foto-2 img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #3a3a3a;
    box-shadow: 0 0 12px #3a3a3a55;
    margin-top: 70px;
}

.foto-2 {
    text-align: right;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 150px;
    padding-right: 150px;
    gap: 40px;
}



.sobre-texto {
    max-width: 500px;
    text-align: left;
}

.sobre-texto p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.7); 
}

#sobre-mim {
    margin-top: 400px;
}
#sobre-mim h2 {
    margin: 0 0 16px 0;
    padding: 0;
    text-align: left;
    margin-bottom: 24px;
}

section {
    padding: 80px 0;
}

#habilidades {
    margin-top: 400px;
}

#secao-final {
    margin-top: 150px;
}
.texto-final {
    text-align: center;
}

.texto-final p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-align: justify, center;
    line-height: 1.7;
}

.contato-botoes {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-whatsapp,.btn-email {
    text-decoration: none; 
    width: 310px;
    padding: 22px 26px;
    border-radius: 18px;
    gap: 14px;
    transition: .15s ease;
    box-sizing: border-box;
    height: 80px;
    display: flex !important;
  flex-direction: row !important; 
  align-items: center !important;
  
  
}

.btn-icone {
      width: 36px;
    height: 36px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(255,255,255,0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.btn-texto strong {
    font-size: 17px;
    color: #f1f1f1;
    font-family: 'Saira' sans-serif;
    display: block;
    line-height: 1.1;
}

.btn-span {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-top: 3px;
}
.btn-email span {
    color: #f1f1f1;
}

.btn-whatsapp {
   display: inline-block;
    padding: 12px 35px;
   background: linear-gradient(135deg, #2563eb, #3b82f6);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 16px #3b82f680;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-whatsapp:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 28px #7b78f4aa ;

}

.btn-email {
    border: 1px solid rgba(255,255,255,0.18) ;
    background:rgba(255,255,255,0.03) ;
}

.btn-email:hover {
    transform: translateY(-4px);
    border-color: rgba(255, 255, 255, 0.30);
}

.btn-whatsapp,
.btn-whatsapp *,
.btn-whatsapp:link,
.btn-whatsapp:visited,
.btn-whatsapp:hover,
.btn-whatsapp:active,
.btn-whatsapp:focus {
  text-decoration: none !important;
  border-bottom: none !important;
  outline: none;}

  #cursor-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    background: radial-gradient(
        circle, 
         rgba(255,255,255,0.18) 0%,
        rgba(59,130,246,0.15) 30%,
        rgba(59,130,246,0.05) 55%,
        transparent 70%
    );
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(30px);
    z-index: 0;
  }

  #rodape {
    margin-top: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);

  }
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(to right, #0e0e0e 5%, #111113 40%, #1a1a1f 100%);
    }
    

    h1 {
        font-family: 'Saira', sans-serif;
        text-align: center;
        color: #f1f1f1 ;
        font-size: 26px;
        text-shadow: 0 0 8px rgba(200, 200, 200, 0.45),
    0 0 14px rgba(240, 240, 240, 0.18);
    }

    h2 {
        font-family: 'Saira', sans-serif;
        text-align: center;
        color: #f1f1f1;
        font-size: 26px;
        text-shadow: 0 0 8px rgba(200, 200, 200, 0.45),
    0 0 14px rgba(240, 240, 240, 0.18);
    }

    .paragrafo-left {
        color:rgba(255, 255, 255, 0.8);
           padding-left: 0;
        text-align: center;
        font-size: 16px;
        max-width: 320px;
        margin: 0 auto;
        
        
    }
    
    .botao {
        text-align: center;
        margin: 10px;
    }

    .botao-contato {
        display: inline-block;
        background:linear-gradient(135deg, #2563eb, #3b82f6);
        color: #f1f1f1;
        padding: 6px 8px;
        border-radius: 12px;
        text-decoration: none;
        box-shadow:  0 0 16px #3b82f680;
    }
   
    .foto-perfil img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3a3a3a;
    box-shadow: 0 0 12px #3a3a3a55;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        

    }
     .container h1 {
        margin-bottom: 4px;
        order: 2;
        
     }
     .container .foto-perfil {
        margin-top: 20px;
        order: 1;
       
     }

     .container .paragrafo-left {
        order: 3;
     }

     .container .botao {
        margin-top: 6px;
        order: 4;
     }

     #sobre-mim {
        margin-top: 100px;
     }
     .sobre-container {
          display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
     }
     .sobre-mim {
        text-align: center;
        
     }
     .sobre-texto {
        display: contents;
     }

     .sobre-texto h2 {
        font-size: 26px;
     }
     .sobre-texto p {
        max-width: 370px;
        text-align: justify;
        margin: auto;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
     }

     .foto-2 img {
    width: 370px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid #3a3a3a;
    box-shadow: 0 0 12px #3a3a3a55;
    margin-top: 10px;
}

 .sobre-container h2 {
        order: 1;
    }

    .foto-2 {
        order: 2;
    }

    .sobre-container p {
        order: 3;
    }




#habilidades {
    margin-top: 100px;
        
      
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 12px;
    }

    .skill-card {
        width: 100%;
        max-width: 320px;
        padding: 18px 16px;
        border-radius: 14px;

        background-image: linear-gradient(
            135deg,
            #0f0f0f,
            #2a2a2a,
            #3d3d3d,
            #1a1a1a
        );

        border: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow:
            0 8px 20px rgba(0, 0, 0, 0.45),
            inset 0 0 0 rgba(255, 255, 255, 0.05);
    }

    
    .skill-card i {
        font-size: 40px;
        margin-bottom: 8px;
        color: #3b82f6;
    }

    
    .skill-card h4 {
        font-size: 18px;
        margin-bottom: 4px;
        color: #f5f5f5;
        letter-spacing: 0.5px;
    }

    
    .skill-card p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
    }

    #secao-final {
    margin-top: 150px;
}
.texto-final {
    text-align: center;
}
.texto-final h2 {
    font-size: 26px;
}

.texto-final p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
}

.contato-botoes {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-whatsapp,.btn-email {
    text-decoration: none; 
    width: 250px;
    padding: 6px 8px;
    border-radius: 12px;
    gap: 14px;
    box-sizing: border-box;
    height: 50px;
    display: flex !important;
  flex-direction: row !important; 
  align-items: center !important;
  
  
}

.btn-icone {
      width: 26px;
    height: 26px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(255,255,255,0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.btn-texto strong {
    font-size: 17px;
    color: #f1f1f1;
    font-family: 'Saira' sans-serif;
    display: block;
    line-height: 1.1;
}

.btn-span {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-top: 3px;
}
.btn-email span {
    color: #f1f1f1;
}

.btn-whatsapp {
   display: inline-block;
    padding: 12px 35px;
   background: linear-gradient(135deg, #2563eb, #3b82f6);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 300;
    box-shadow: 0 0 16px #3b82f680;
}

.btn-email {
    border: 1px solid rgba(255,255,255,0.18) ;
    background:rgba(255,255,255,0.03) ;
}

.btn-email:hover {
    border-color: rgba(255, 255, 255, 0.30);
}
.btn-whatsapp,
.btn-whatsapp *,
.btn-whatsapp:link,
.btn-whatsapp:visited,
.btn-whatsapp:hover,
.btn-whatsapp:active,
.btn-whatsapp:focus {
  text-decoration: none !important;
  border-bottom: none !important;
  outline: none;}

  #rodape {
    margin-top: 20px;
    font-size: 8px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);;
  }
}